/*Copyright Antonio Stan*/

html, body{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.pdfcontainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    .pdfcontainer{
        width: 80%;
        height: 80%;
    }
}
@media (max-width: 576px) {
    .pdfcontainer{
        max-width: 60%;
        max-height: 60%;
    }
}

/*Copyright Antonio Stan*/